.orders-page-container {
  box-shadow: var(--box-shadow-content-container);
  border-radius: 10px;
  padding: 1rem;
}

.orders-charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
/* --------------- Order Boxes -------------------*/
.order-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

/* --------------- Orders header -------------------*/

.orders-page-container header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.orders-page-container header > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* --------------- Orders Table -------------------*/

.orders-table thead tr th:last-child,
.orders-table tbody tr td:last-child,
.orders-table thead tr th:nth-last-child(2),
.orders-table tbody tr td:nth-last-child(2) {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.orders-table .tooltip-content {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.orders-table .order-id {
  color: rgb(26 140 209);
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.orders-table .email {
  font-weight: 600;
}

.orders-table .status button span {
  font-weight: bold;
  box-shadow: var(--box-shadow-content-container);
  border-radius: 20px;
  padding: 2px 12px;
  display: flex;
  gap: 0.3rem;
  text-transform: capitalize;
  color: white;
  /* min-width: 8rem; */
  text-align: center;
  align-items: center;
}

.orders-table .date {
  color: rgb(146, 146, 146);
}

.orders-table .total {
  font-weight: bold;
  color: var(--color-money);
}

.orders-table .actions {
  padding: auto 2rem;
}
.orders-table .actions .actions-btn {
  padding: 0.4rem 0.6rem;
  transition: 0.2s;
  /* background: red; */
}
.orders-table .actions .actions-btn:hover {
  background-color: #ffffff;
  box-shadow: var(--box-shadow-content-container);
  border-radius: 5px;
}

.orders-table .payment span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
  background-color: #f8f6ff;
  border-radius: 5px;
  box-shadow: var(--box-shadow-content-container);
  padding: 0.2rem 0.6rem;
  width: fit-content;
}
.orders-table .payment .stripe {
  color: #5c49ff;
  background-color: #f6f7ff;
}
.orders-table .payment .paypal,
.orders-table .payment .paypal svg {
  color: #1a75ab;
}
.orders-table .payment .cash,
.orders-table .payment .cash svg {
  color: #058f61;
}

.orders-table .loading {
  height: 10rem;
}

.order-details-content p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.order-row:hover {
  background-color: #dddddd34;
}
.order-row img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.order-details-content th {
  text-align: left;
  padding: 0.6rem 0.2rem;
}

.order-details-content td {
  padding: 0.6rem 0.2rem;
}
.order-details-content table {
  max-height: 20rem;
}
