.create-product {
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
}
.create-header {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
}
.create-header div {
  display: flex;
  gap: 0.5rem;
}
.create-header button {
  max-width: fit-content;
}

.create-header .button-save {
  background-color: #717171;
}

.create-header h1 {
  font-family: var(--font-5);
  font-weight: var(--fw-semi);
  font-size: var(--fs-xl);
  text-transform: capitalize;
}

.content-container {
  /* max-width: 80%; */
  width: 100%;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 1rem 0;
}

.content-container h3 {
  color: var(--color-6);
}

.create-product .row {
  display: flex;
  gap: 1rem;
  /* width: 100%; */
}

.product-form {
  /* width: 100%; */
}
.category-form {
  /* max-width: 40rem; */
  height: fit-content;
}

.category-form header {
  display: flex;
  justify-content: space-between;
}

.category-form header button {
  color: var(--color-4);
  text-transform: capitalize;
  font-family: var(--font-6);
}
.media-form .create-product .input-container {
  max-width: 20rem;
}

span:has(.product-image) {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.product-form-container h2 {
  text-transform: capitalize;
  font-family: var(--font-5);
  margin-bottom: 0.75rem;
  /* align-self: start; */
}
.product-form-container .product-form {
  padding: 1.25rem 0.75rem;
  /* display: flex; */
  /* flex-direction: column; */
  gap: var(--gap-5);
  /* display: grid; */
  /* max-width: 25rem; */
}

.product-form-container .button-holders,
.input-holders {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-2);
}
.product-form-container .input-container {
  margin-bottom: 0;
}

/* input::file-selector-button {
  border: none;
  
} */

/* input[type="file"] {
  font-size: 0;
  background-color: transparent;
  width: 100%;
  padding: 1.6rem;
  cursor: pointer;
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}
::file-selector-button {
  font-size: initial;
} */

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.file-input + label {
  display: flex;
  align-items: center;
  gap: var(--gap-2);
  padding: 0.75rem;
  cursor: pointer;
  transition: 0.2s;
  border: 1px dashed var(--color-6);
  color: var(--color-3);

  /* z-index: 10; */
}
.file-input + label * {
  pointer-events: none;
}
.file-input:focus + label,
.file-input + label:hover {
  border: 1px solid transparent;
  box-shadow: -4px 4px 0px 0px var(--color-3), 0px 0px 0px 1px var(--color-3);
}
.file-input + .selected {
  border: 1px solid transparent;

  box-shadow: 0px 0px 0px 1px var(--color-3);
}
.product-image {
  width: 10rem;
  height: 10rem;
}

.status-toggle {
  display: flex;
  align-items: center;
  gap: var(--gap-5);
}
/* .toggle span {
  display: flex;
  align-items: center;
  gap : var(--gap-2);
  font-size: var(--fs-m);
  margin: 0 0.75rem;
} */
.status-buttons-container {
  display: flex;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: var(--white-color);
  /* padding: 0.5rem; */
  border-radius: 20px;
  position: relative;
}
.status-buttons-container button {
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
  /* color: var(--white-color); */
  font-weight: var(--fw-bold);
  font-size: var(--fs-s);
  font-family: var(--font-3);
  transition: 0.2s;
  z-index: 1;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-1);
  /* z-index: 100; */
  width: 8rem;
  text-transform: capitalize;
}

.status-buttons-container .active {
  /* background-color: var(--white-color); */
  /* color: var(--color-3); */
}

.active-button {
  content: "";
  background-color: var(--color-3);
  z-index: 1;
  /* padding: 0.5rem; */
  width: 50%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* background-color: transparent; */
}
