.create-product {
  display: flex;
  flex-direction: column;
  gap: var(--gap-5);
}
.create-header {
  display: flex;
  justify-content: space-between;
}

.create-product .row {
  display: flex;
  gap: 1rem;
}

.category-form header button {
  color: var(--color-3);
  text-transform: uppercase;
  font-family: var(--font-2);
}

.status-toggle {
  display: flex;
  align-items: center;
  gap: var(--gap-5);
}

.status-buttons-container {
  display: flex;
  box-shadow: var(--box-shadow-content-container);
  background-color: var(--white-color);
  border-radius: 20px;
  position: relative;
}
.status-buttons-container button {
  border: 0;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
  font-weight: var(--fw-bold);
  font-size: var(--fs-s);
  font-family: var(--font-1);
  letter-spacing: 1px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-1);
  text-transform: capitalize;
  transition: 0.2s;
}

.status-buttons-container .active-button {
  content: "";
  z-index: 1;
  width: 50%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
}

/* Active Styles */
.status-buttons-container .active {
  background-color: #13c93d;
  background: linear-gradient(
    3deg,
    rgb(2, 0, 36) 0%,
    var(--color-3) 0%,
    rgb(0, 255, 129) 100%
  );
  box-shadow: rgba(0, 255, 89, 0.09) 0px 2px 1px,
    rgba(0, 255, 89, 0.09) 0px 4px 2px, rgba(0, 255, 89, 0.09) 0px 8px 4px;
  left: 0;
}

/* Inactive Styles */
.status-buttons-container .inactive {
  background-color: #dc3545;
  background: linear-gradient(
    3deg,
    rgb(36, 0, 2) 0%,
    rgb(201, 19, 19) 0%,
    rgb(255, 0, 0) 100%
  );
  box-shadow: rgba(255, 0, 0, 0.09) 0px 2px 1px,
    rgba(255, 0, 0, 0.09) 0px 4px 2px, rgba(255, 0, 0, 0.09) 0px 8px 4px;
  left: 50%;
}

/* .input-container:has(input[type="text"]) {
  max-width: 60rem;
}
.input-container:has(input[type="number"]) {
  max-width: 20rem;
} */

.loader-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: var(--z-fixed);
}
