.noproducts-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  gap: var(--gap-4);
  background: white;
  width: fit-content;
  padding: 2rem;
  border-radius: 15px;
  /* box-shadow: var(--box-shadow-1); */
  margin: 20vh auto;
  font-family: var(--font-1);
  /* font-size: var(--fs-m); */
}

.noproducts-container h1 {
  font-size: var(--fs-l);
  font-weight: var(--fw-semi);
}
/* .noproducts-container button {
  background: var(--color-7);
} */
