.noproducts-container {
  display: flex;
  /* max-width: 22rem; */
  width: 100%;
  margin: 35vh 0;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2);
}
.noproducts-container button {
  flex: 0;
  text-transform: capitalize;
  background: var(--color-7);
}
