.analytic-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 0.8rem 0.5rem;
  border-radius: 10px;
  width: 100%;
  /* width: fit-content; */
  box-shadow: var(--box-shadow-content-container);
  background: linear-gradient(345deg, #f1f1f1, transparent);
}

.analytic-box div:first-child {
  display: flex;
  align-items: center;
  font-size: var(--fs-m);
  color: #808080;
  gap: 0.5rem;
}
.analytic-box .box-icon {
  background: #f7713c;
  padding: 0.3rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-1);
}
.analytic-box + .total-orders .box-icon {
  background-color: #000;
}
.analytic-box + .total-revenue .box-icon {
  background-color: #0abd2d;
}
.analytic-box + .orders-progress .box-icon {
  background-color: #ff8100;
}
.analytic-box + .orders-cancelled .box-icon {
  background-color: #f34040;
}

.analytic-box .value {
  font-family: var(--font-1);
  font-weight: 800;
  /* color: #028b35; */
}
.analytic-box div:first-child svg {
  font-size: 1.6rem;
  color: #ffffff;
}

.analytic-box div:last-child {
  display: flex;
  gap: 0.4rem;
  margin-top: -0.5rem;
  align-items: center;
  /* flex-direction: column; */
}
.analytic-box .value {
  font-size: 2.2rem;
  font-weight: 500;
}

.analytic-box .trend {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: var(--fs-sm);
}
.analytic-box .trend svg {
  font-size: 1rem;
}
.analytic-box .up {
  color: #0bc760;
}
.analytic-box .down {
  color: #c7310b;
}
.analytic-box .desc {
  color: #acacac;
  font-size: var(--fs-xs);
}
