.dashboard__sidebar {
  position: fixed;
  display: inline-grid;
  justify-items: center;
  height: 100vh;
  padding: 2rem 0;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: var(--z-fixed);
}
.dashboard__sidebar-header {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.dashboard__sidebar-button-toggle {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.dashboard__sidebar-header h2 {
  font-family: var(--font-1);
  text-transform: uppercase;
}

.dashboard__sidebar-main {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 3rem; */
}
h3 {
  align-self: baseline;
  font-family: var(--font-1);
  text-transform: capitalize;
}
.dashboard__sidebar-navlist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dashboard__sidebar .active::before {
  content: "";
  background-color: var(--color-5);
  height: 40%;
  width: 5px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 0.2s;
}

.dashboard__sidebar-navlink {
  padding: 1rem;
  position: relative;
}

.dashboard__sidebar-navitem {
  display: flex;
  align-items: center;
  font-weight: var(--fw-bold);
  font-family: var(--font-1);
  position: relative;
}
.dashboard__sidebar-navlink:hover {
  background-color: rgba(0, 255, 115, 0.2);
  border-radius: 10px;
  transition: 0.2s;
}
.dashboard__sidebar-navlink:hover .dashboard__sidebar-tooltip {
  display: block;
}
.dashboard__sidebar-navlink:hover > .dashboard__sidebar-icon,
.dashboard__sidebar-navlink:hover > .dashboard__sidebar-text {
  color: rgb(255, 0, 0);
  opacity: 1;
}
.dashboard__sidebar-icon {
  font-size: 3rem;
  display: flex;
}
.dashboard__sidebar-text {
  text-transform: capitalize;
  margin-left: 1rem;
}
.dashboard__sidebar-tooltip {
  display: none;
  position: absolute;
  left: 55px;
  margin: auto;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  align-items: center;
  text-transform: capitalize;
  z-index: var(--z-tooltip);
  /* font-family: var(--font-1); */
}
.dashboard__sidebar-tooltip::before {
  content: "";
  position: absolute;
  left: -4px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: white;
  transform: rotate(45deg);
}

footer .dashboard__sidebar-navlist {
  justify-self: flex-end;
}
