.recipe {
  position: relative;
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  gap: var(--gap-2);
  background-color: white;
  width: fit-content;
  width: 15rem;
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}
.recipe header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe img {
  border-radius: 15px 15px 0 0;
  width: inherit;
  margin-bottom: 0.75rem;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.recipe footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1.25rem;
}
.recipe footer span {
  display: flex;
  align-items: center;
  gap: var(--gap-2);
}
.recipe footer svg {
  color: var(--color-2);
}

.recipe-bookmark {
  position: absolute;
  right: 5%;
  top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-xl);
  color: var(--color-3);
  background-color: var(--color-1);
  border-radius: 50%;
  padding: 0.75rem;
  width: 3.125rem;
  height: 3.125rem;
  cursor: pointer;
}
