.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 6rem 0;
}
.heading h1 {
  font-size: var(--fs-2xl);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* .discounted__heading .icon {
    font-size: var(--fs-2xl);
  } */

.heading span {
  text-transform: capitalize;
  font-size: var(--fs-l);
  font-weight: var(--fw-bold);
}
