.swiper__container .swiper {
  position: unset !important;
}

.swiper__container .swiper-button-prev,
.swiper__container .swiper-button-next {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  z-index: 100;
  color: var(--color-3);
  cursor: pointer;
}

.swiper__container .swiper-button-prev {
  left: -5%;
}
.swiper__container .swiper-button-next {
  right: -5%;
}
