.category-form__trigger-btn {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
  color: var(--color-3);
  font-family: var(--font-1);
  font-size: var(--fs-s);
  margin-bottom: 1rem;
  align-self: flex-end;
  /* font-weight: var(--fw-bold); */
}

.category-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
