.page__header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.page__header h1 {
  font-family: var(--font-1);
  text-transform: capitalize;
}

.page__header .add__product-button {
  width: fit-content;
  border-radius: 25px;
  text-transform: capitalize;
  background: var(--color-7);
}
