.page-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
}

.page-header h1 {
  font-family: var(--font-1);
  text-transform: capitalize;
}

.page-header .add-product-button {
  width: fit-content;
  border-radius: 25px;
  text-transform: capitalize;
  background: var(--color-7);
}
