.table-header {
  display: flex;
  padding: 0.5rem;
  color: #8b8b8b;
  border-radius: 5px;
  font-weight: 400;
  text-transform: capitalize;
  font-size: var(--fs-s);
  font-family: var(--font-1);

  border: 4px solid rgba(0, 0, 0, 0);
}
.table-header .cell {
  display: inline-flex;
  align-items: center;
  flex: 1;
}

.sort-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-1);
  padding: 4px 8px;
  border-radius: 5px;
  /* background-color: #ffffff; */
  color: #000000;
  font-size: var(--fs-s);
  font-family: var(--font-1);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  cursor: pointer;
}

.sort-button:hover {
  background-color: var(--color-3);
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
}

.active-sort {
  color: red;
}
