.slider__container {
  position: relative;
}
.swiper {
  position: unset !important;
  padding: 2rem !important;
}

.slider__content .slider__buttons {
  position: absolute;
  top: -40px;
  right: 0;
  display: flex;
  gap: 1rem;
}

.slider__content .swiper-button-prev,
.slider__content .swiper-button-next {
  position: initial;
}
