.product-row {
  display: flex;
  font-family: var(--font-1);
  font-weight: var(--fw-semi);
  background: var(--white-color);
  transition: 0.2s;
  padding: 0.5rem;
  border-bottom: 1px dashed #dcdcdc;
}
.product-row:hover {
  background-color: #f4f4f4;
}

.product-row td {
  flex: 1;
  display: inline-flex;
  align-items: center;
  padding: 0 0.2rem;
  gap: var(--gap-1);
}
.product-row .product-img {
  width: 3.2rem;
  height: 3.2rem;
}

.product-row td.name {
  font-weight: bold;
  justify-content: baseline;
  word-break: break-all;
}

.product-row td.status span {
  display: flex;
  align-items: center;
  gap: var(--gap-1);
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px;
  font-weight: var(--fw-bold);
  min-width: 5rem;
  padding: 0px 4px;
  line-height: 1.2;
}

.product-row .status span.active {
  color: #18d48f;
  /* background-color: #d5fff0; */
}
.product-row .status svg.active {
}
.product-row .status span.inactive {
  color: #ff3030;
  /* background-color: #ffdede; */
}

.product-row td.stock {
}
.product-row td.orders {
}

.product-row .price {
  font-weight: var(--fw-bold);
  color: #078053;
}

.product-row td.discount {
}

.product-row td.category {
}

.product-row td.rating {
  color: #d19a00;
}

.product-row .published {
  color: #c2c2c2;
}

.product-row td.action {
  display: flex;
  gap: var(--gap-2);
}

.dialog-button-cancel,
.dialog-button-delete {
  width: fit-content;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.dialog-button-cancel svg,
.dialog-button-delete svg {
  font-size: 1.3rem;
}
.dialog-button-delete,
.dialog-button-delete:hover {
  background-color: var(--color-2);
}

.dialog-button-cancel {
  background-color: black;
  color: white;
  margin-right: 0.5rem;
}
.dialog-button-cancel:hover {
  background-color: rgb(46, 46, 46);
  color: white;
}
