.product__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  margin: 2rem 1rem;
  margin-top: 45px;
  border-radius: 30px;
  gap: 1rem;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: var(--font-1);
  user-select: none;
  /* min-height: 32rem; */
}
.product__card:hover {
  box-shadow: var(--color-3) 0px 0px 0px 2px;
}

.product__card header {
  display: flex;
  align-items: center;
}
.product__card header div:first-child {
  display: flex;
  flex-direction: column;
}
.product__card header div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.product__card-img {
  max-width: 15rem;
  transform: translateY(-45px);
  box-shadow: rgba(var(--color-2), 0.16) 0px 1px 4px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.product__card-name {
  font-weight: var(--fw-bold);
  font-size: var(--fs-l);
}

.product__card-stars {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ff9529;
  font-weight: var(--fw-bold);
  border-radius: 15px;
}
.product__card-sale {
  position: absolute;
  right: -2%;
  top: 50%;
  background-color: var(--color-2);
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
  transform: rotate(12deg);
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: var(--font-2);
}

.product__card-new {
  position: absolute;
  left: -5%;
  top: 5%;
  background-color: var(--color-4);
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 20px;
  transform: rotate(-6deg);
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: var(--font-2);
}

.product__card footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.product__card footer div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product__card-add {
  padding: 1rem;
  width: 10rem;
  color: white;
  background-color: var(--color-3);
  font-family: var(--font-1);
  font-size: var(--fs-m);
  font-weight: var(--fw-bold);
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  flex-grow: 1;
  margin: 0 1rem;
}
.product__card-add:hover {
  background-color: transparent;
  border: 1px solid var(--color-3);
  color: var(--color-3);
}

.product__card-price {
  color: var(--color-2);
  font-weight: var(--fw-bold);
  font-size: var(--fs-xl);
}

.product__card-discounted-price {
}

.product__card-weight {
  font-family: var(--font-2);
  font-size: var(--fs-s);
  color: rgb(119, 114, 114);
}
.product__wish {
  position: absolute;
  top: 5%;
  right: 8%;
  cursor: pointer;
  font-size: var(--fs-xl);
  color: var(--color-2);
  /* background-color: beige; */
  /* padding: 1rem 2rem; */
}
