.table-header {
  display: flex;
  /* padding: 0.5rem; */
  color: #1d1d1d;
  border-radius: 5px;
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  font-size: var(--fs-s);
  font-family: var(--font-1);
   background: #f6f6f6;
 /* background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(0, 114, 27) 0%,
    rgb(0, 173, 138) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(159, 159, 159, 0) 0%,
    rgb(233 233 233) 100%
  ); */
  border: 4px solid rgba(0, 0, 0, 0);
  /* margin-bottom: 1rem; */
}
.table-header .cell {
  display: inline-flex;
  text-align: center;
  align-items: center;
  flex: 1;
  /* justify-content: center; */
  gap: var(--gap-1);
}
