tr {
  display: flex;
  font-family: var(--font-1);
  font-weight: var(--fw-semi);
  background: var(--white-color);
  transition: 0.2s;
  padding: 0.5rem;
  border-bottom: 1px dashed #dcdcdc;
}
tr:hover {
  background-color: #f4f4f4;
}

tr td {
  flex: 1;
  display: inline-flex;
  align-items: center;
padding: 0 .2rem;
  gap: var(--gap-1);
}
tr .product-img {
  width: 4rem;
  height: 4rem;
}

td.name {
  font-weight: bold;
  justify-content: baseline;
  word-break: break-all;
}

td.status span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-1);
  text-transform: capitalize;
  border-radius: 10px;
  font-weight: var(--fw-bold);
}

tr .status span.active {
  color: #00925d;
}

tr .status span.inactive {
  color: #e00c0c;
}

td.stock {
}
td.orders {
}

tr .price {
  font-weight: var(--fw-bold);
  color: #078053;
}

td.discount {
}

td.category {
}

td.rating {
  color: #d19a00;
}

tr .published {
  color: var(--color-6);
}

td.action {
  display: flex;
  gap: var(--gap-2);
}

.dialog-button-cancel,
.dialog-button-delete {
  width: fit-content;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.dialog-button-cancel svg,
.dialog-button-delete svg {
  font-size: 1.3rem;
}
.dialog-button-delete,
.dialog-button-delete:hover {
  background-color: var(--color-2);
}

.dialog-button-cancel {
  background-color: black;
  color: white;
  margin-right: 0.5rem;
}
.dialog-button-cancel:hover {
  background-color: rgb(46, 46, 46);
  color: white;
}
