.slider-container {
  position: relative;
}
.swiper {
  position: unset !important;
  padding: 1.25rem !important;
}

.slider-content .slider-buttons {
  position: absolute;
  top: -40px;
  right: 0;
  display: flex;
  gap: var(--gap-2);
}

.slider-content .swiper-button-prev,
.slider-content .swiper-button-next {
  position: initial;
}
