.table-header {
  display: flex;
  background: #fff2e8;
  color: #742f07;
  border-radius: 10px;
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  font-size: var(--fs-s);
  font-family: var(--font-1);
}
.table-header .cell {
  flex: 1;
  text-align: center;
  padding: 0.5rem 0.75rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-1);
}
