/* breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: baseline;
  padding: 0.3rem 0.75rem;
  border-radius: 10px;
  font-family: var(--font-1);
}
.breadcrumbs > * {
  display: inline-block;
  margin-right: 0.75rem;
  text-transform: capitalize;
}
.breadcrumbs div:first-child a svg {
  font-size: 1.75rem;
  vertical-align: sub;
  color: var(--color-3);
}
.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 0.75rem;
  font-family: var(--font-4);
  font-size: var(--fs-m);
}
.breadcrumbs div:last-child a {
  color: black;
  color: var(--color-3);
  font-weight: var(--fw-bold);
  border-radius: 5px;
}
.breadcrumbs div.crumb:not(:first-child):hover a,
.breadcrumbs div:first-child a svg:hover {
  color: var(--color-4);
  text-decoration-line: underline;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  transition: 0.2s;
}

.breadcrumbs .crumb a,
.breadcrumbs,
.breadcrumbs div:first-child a svg {
  color: var(--color-6);
}
