/* breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: baseline;
  padding: 0.5rem;
  border-radius: 5px 25px 25px 5px;
  font-family: var(--font-1);
  background: #f7f7f7;
  margin: 0.5rem;
  box-shadow: var(--box-shadow-content-container);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 0px 0px 20px 0px;
  margin: 0 0.5rem;
}
.breadcrumbs > * {
  display: inline-block;
  margin-right: 0.75rem;
  text-transform: capitalize;
}
.breadcrumbs div:first-child a svg {
  font-size: 1.75rem;
  vertical-align: sub;
  color: var(--color-3);
}
.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 0.75rem;
  font-size: var(--fs-m);
}
.breadcrumbs div:last-child a {
  color: black;
  color: var(--color-3);
  font-weight: var(--fw-bold);
  border-radius: 5px;
}
.breadcrumbs div.crumb:not(:first-child):hover a,
.breadcrumbs div:first-child a svg:hover {
  color: var(--color-3);
  text-decoration-line: underline;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  transition: 0.2s;
}

.breadcrumbs .crumb a,
.breadcrumbs,
.breadcrumbs div:first-child a svg {
  color: rgb(143, 143, 143);
}
