.dropdown-item {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  text-transform: capitalize;
  cursor: pointer;
}
.dropdown-item:hover {
  background-color: var(--background-color1);
}
.dropdown-item-icon {
  margin-right: 0.75rem;
  font-size: 1.75rem;
  display: inline-flex;
}
