.logo {
  display: flex;
  font-size: var(--fs-xl);
  font-family: var(--font-1);
  font-weight: var(--fw-bold);
  align-items: center;
}
.logo__icon {
  color: var(--color-3);
  font-size: var(--fs-2xl);
}
.logo__text {
  margin-left: 0.5rem;
}
