.logo {
  display: flex;
  font-size: var(--fs-l);
  font-family: var(--font-1);
  font-weight: var(--fw-bold);
  align-items: center;
}
.logo-icon {
  color: var(--color-3);
  font-size: var(--fs-xl);
}
.logo-text {
  margin-left: 0.5rem;
}
