.navigation-link {
  background-color: white;
  padding: 1.25rem 0.75rem;
  display: flex;
  gap: var(--gap-4);
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.navigation-box img {
  max-width: 2.5rem;
}
.navigation-box span {
  font-size: var(--fs-xl);
  font-family: var(--font-1);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
}

@media only screen and (max-width: 870px) {
  .navigation-link {
    padding: 0.75rem;
  }
}
