.user__head {
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.user__head:hover,
.user__head:active,
.user__head:focus {
  background-color: var(--background-color1);
}

.user__head-icons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.user__head-name {
  text-transform: capitalize;
  margin-inline: 0.5rem;
}
