.user__cart {
  display: flex;
  padding-inline: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 1rem;
  position: relative;
}

.user__cart:hover {
  background-color: var(--background-color1);
}

.user__cart-total {
  position: absolute;
  /* display: inline-flex; */
  top: -4px;
  right: 0px;
  display: flex;
  background-color: var(--color-2);
  color: white;
  width: 20px;
  height: 20px;
  padding: 1.1rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
