.discounted {
  display: flex;
  padding: 2rem;
  position: relative;
}
.swiper {
  position: unset !important;
  padding: 2rem !important;
}

.discounted .slider__buttons {
  font-size: var(--fs-2xl);
  position: absolute;
  top: -40px;
  right: 20px;
  z-index: var(--z-tooltip);
  color: var(--color-3);
  cursor: pointer;
  display: flex;
  gap: 1rem;
}

.discounted .swiper-button-prev {
  left: -5%;
}
.discounted .swiper-button-next {
  right: -5%;
}
