.total-users .box-icon {
  /* background-color: red; */
}
.total-customers .box-icon {
  background-color: #00b3a3;
}
.total-admins .box-icon {
  background-color: #9c01cf;
}
.total-moderators .box-icon {
  background-color: #0573d1;
}
