.analytic-box + .total-customers .box-icon {
  background-color: #00b3a3;
}
.analytic-box + .total-admins .box-icon {
  background-color: #d1930e;
}
.analytic-box + .total-moderators .box-icon {
  background-color: #0573d1;
}
