.shipping-box {
  display: flex;
  align-items: center;
  margin: 0 0.75rem;
  position: relative;
}

.shipping-img {
  width: 5rem;
  margin-right: 1.25rem;
}
.shipping-data {
  width: 9.375rem;
  display: flex;
  flex-direction: column;
}

.shipping-data h2 {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}
.shipping-data p::first-letter {
  text-transform: uppercase;
}
.shipping-number {
  position: absolute;
  top: -5%;
  left: -14%;
  font-family: var(--font-1);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-bold);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed;
}

@media only screen and (max-width: 426px) {
  .shipping-box:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
