.shipping {
  display: flex;
  align-items: flex-start;
  margin: 1.25rem 0 5rem 0;
  justify-content: center;
}
.shipping-arrow {
  max-width: 9rem;
  align-self: flex-end;
  margin-right: 0.75rem;
  transform: rotate(80deg) scale(1.8) translateX(-0.75rem);
}

@media only screen and (max-width: 426px) {
  .shipping {
    flex-direction: column;
    align-items: center;
    margin: 1.25rem 0.75rem;
  }
  .shipping-arrow {
    display: none;
  }
}
