.shipping__box {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.shipping__img {
  width: 8rem;
  margin-right: 2rem;
}
.shipping__data {
  width: 15rem;
  display: flex;
  flex-direction: column;
}

.shipping__data h2 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.shipping__data p::first-letter {
  text-transform: uppercase;
}
