.search-bar {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 60%);
  box-shadow: var(--color-3) 0px 0px 0px 1px;
}
.search-bar:focus-within {
  transition: 0.2;
  box-shadow: var(--color-3) 0px 0px 0px 3px;
}
.search-bar input {
  background-color: inherit;
  border: none;
  font-family: var(--font-2);
  width: 100%;
}
.search__icon {
  font-size: var(--fs-m);
  margin: 0;
  margin-right: 0.5rem;
}
