.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  min-width: 60rem;
}

.tableHead tr,
.tableBody tr {
  transition: 0.3s all;
  text-align: left;
}

.tableBody tr {
  font-family: var(--font-1);
}

.tableBody tr:hover {
  background-color: #dddddd34;
}

.tableHead th {
  font-weight: 400;
  color: #adadad;
}

.tableBody td {
  word-break: keep-all;
}

.tableBody tr td,
.tableHead tr th {
  padding: 0.8rem;
}
