.login .input-container:nth-child(2) {
  margin-bottom: 1.25rem;
}

.login .form-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}

.login .form-remember {
  display: flex;
  gap: 5px;
  font-weight: var(--fw-bold);
  margin-bottom: 0.75rem;
}
.login .form-reset {
  margin-bottom: 1.25rem;
}
input[type="checkbox" i] {
  accent-color: var(--color-3);
  /* width: 1.25rem; */
}

input[type="checkbox" i]:focus-within {
  box-shadow: 0px 0px 0px 2px var(--color-5);
}
