.footer-list {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.footer-list h3 {
  margin-bottom: 0.75rem;
}

.footer-list ul {
  text-transform: capitalize;
  font-family: var(--font-1);
}
