.footer {
  background-color: #fff;
  padding: 3rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-logo {
  text-transform: capitalize;
}
.footer-logo :first-child {
  margin-bottom: 0.5rem;
}
.footer-logo .footer-rights {
  font-size: var(--fs-s);
  color: rgb(121, 121, 121);
  font-family: var(--font-1);
}
.footer-links {
  display: flex;
  gap: var(--gap-8);
}

.footer-link:hover {
  color: var(--color-2);
}
