.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-3);
  /* background: linear-gradient(359deg, #459955, #10c781); */
  font-family: var(--font-2);
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-transform: capitalize;
  min-width: max-content;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.button:hover {
  filter: brightness(1.1);
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.button span svg {
  vertical-align: middle;
  font-size: 1.3em;
}
