.button {
  display: inline-block;
  background-color: var(--color-3);
  font-family: var(--font-2);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  text-transform: capitalize;
  min-width: max-content;
  /* font-size: var(--fs-m); */
  border: none;
  cursor: pointer;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.button:hover {
  filter: brightness(1.1);
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.button span svg {
  vertical-align: middle;
}
