.main__button {
  display: inline-block;
  background-color: var(--color-3);
  font-family: var(--font-2);
  color: white;
  padding: 2rem 3rem;
  border-radius: 15px;
  text-transform: capitalize;
  min-width: max-content;
}

.main__button:hover {
  opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  .main__button {
    padding: 1rem 1.5rem;
  }
}
