.submit__button {
  display: inline-block;
  background-color: var(--color-3);
  font-family: var(--font-2);
  color: white;
  padding: 1rem 2rem;
  border-radius: 15px;
  text-transform: capitalize;
  min-width: max-content;
  font-size: var(--fs-xl);
  border: none;
  cursor: pointer;
}

.submit__button:hover {
  filter: brightness(1.1);
}

.submit__button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
