.cart-product-card {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem 0.75rem;
  margin: 0.75rem;
  margin-bottom: 1.25rem;
  background-color: var(--color-1);
  border-radius: 10px;
  font-family: var(--font-1);
  text-transform: capitalize;
  background-color: #ffffff;
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 4px;
}
.cart-product-card:hover {
  box-shadow: var(--color-3) 0px 0px 0px 2px;
}

.cart-product-card img {
  max-width: 4.375rem;
  max-height: 4.375rem;
}
.cart-product-name {
  font-weight: var(--fw-bold);
  font-size: var(--fs-l);
  margin-bottom: 1.25rem;
}
.cart-product-counter {
  display: flex;
  gap: var(--gap-2);
  align-items: center;
  justify-content: center;
  font-weight: var(--fw-bold);
}

.cart-product-discount,
.cart-product-price {
  display: block;
}

.cart-product-discount {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: var(--color-2);
  padding: 0.1.25rem;
  color: white;
  font-size: var(--fs-s);
  border-radius: 5px;
  transform: rotate(12deg);
  text-transform: uppercase;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  font-family: var(--font-2);
}

.cart-product-prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.cart-product-original-price {
  color: var(--text-color);
  font-size: var(--fs-s);
}

.cart-product-price {
  font-weight: var(--fw-bold);
  color: var(--color-price);
  font-size: var(--fs-l);
  align-self: flex-end;
}

.cart-delete-button {
  font-size: var(--fs-l);
  position: absolute;
  right: 3%;
  top: 7%;
}

@media only screen and (max-width: 426px) {
  .cart-product-card {
    flex-direction: column;
  }
}
