.user-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 0.75rem;
  position: relative;
  cursor: pointer;
  font-size: var(--fs-l);
}

.user-cart:active,
.user-cart:focus,
.user-cart:hover {
  background-color: var(--background-color1);
}

.user-cart-total {
  position: absolute;
  top: -7px;
  right: 5px;
  display: flex;
  background-color: var(--color-2);
  color: var(--body-color);
  width: 1.25rem;
  height: 1.25rem;
  font-size: var(--fs-s);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
