.user-head {
  padding: 0.75rem 0.5rem;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}
.user-head:hover,
.user-head:active,
.user-head:focus {
  background-color: var(--background-color1);
}

.user-head-icons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.user-head-name {
  text-transform: capitalize;
  margin-inline: 0.5rem;
}

@media only screen and (max-width: 375px) {
  .user-head-name {
    display: none;
  }
}
