.input-error {
  display: flex;
  color: red;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  gap: var(--gap-2);
  background: #ffe5e5;
  align-items: center;
  justify-content: flex-start;
}
.input-error svg {
  width: fit-content;
  font-size: var(--fs-l);
}
.input-error p {
  width: 90%;
}
.input-error p::first-letter {
  text-transform: capitalize;
}
