.dropdown__item {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.dropdown__item:hover {
  background-color: var(--background-color1);
}
.dropdown__item-icon {
  margin-right: 1rem;
  font-size: 2.5rem;
  display: inline-flex;
}
