.dropdown__menu {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: calc(var(--header-height) - 0.5rem);
  right: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 1rem;
}
