.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 0 auto; */
  height: var(--header-height);
  /* padding: 0 2rem; */
  z-index: var(--z-fixed);
  background-color: white;
  box-shadow: rgb(0 0 0 / 15%) 0 2px 5px;
}

.navbar {
  position: relative;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
}

.logo {
  display: flex;
  margin-right: 2rem;
  font-size: var(--fs-xl);
  font-family: var(--font-1);
  font-weight: var(--fw-bold);
}
.logo svg {
  color: var(--color-3);
  font-size: 4rem;
}
.nav__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-transform: capitalize;
  font-weight: var(--fw-bold);
  font-size: var(--fs-m);
  color: white;
  border-radius: 10px;
  padding: 1rem;
  color: var(--text-color);
  transition: 0.2s;
}
.nav__link:hover {
  background-color: var(--background-color1);
}
.nav__link:hover svg {
  color: var(--color-3);
}

.nav__link svg {
  color: var(--text-color);
  font-size: var(--fs-l);
  transition: 0.2s;
}

.nav__icon {
  width: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}
.board__links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.search__item {
  padding: 1rem;
  border-radius: 10px;
  width: 5rem;
  text-align: center;
  cursor: pointer;
}
.search__item:hover {
  background-color: var(--background-color1);
}

.search__bar__container {
  /* background-color: red; */
  width: 100%;
  position: relative;
  /* top: calc(var(--header-height) + 1rem); */
  display: inline-flex;
  justify-content: center;
  align-items: stretch;
  /* height: 100vh; */
}
.search__close__icon {
  margin-left: 1rem;
  font-size: var(--fs-xl);
  cursor: pointer;
  color: var(--color-2);
  /* position: absolute; */
}
