.section-more {
  margin: 3.125rem auto;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1.5rem;
}
.section-more h1 {
  display: flex;
  align-items: center;
  font-size: var(--fs-2xl);
  text-transform: capitalize;
  gap: var(--gap-2);
  margin-bottom: 2.5rem;
}

.section-more .section-view-all {
  text-transform: capitalize;
  font-size: var(--fs-xl);
  font-family: var(--font-1);
  font-weight: var(--fw-bold);
  align-self: end;
  margin-top: 0.75rem;
}

.section-more .section-view-all:hover {
  color: var(--color-3);
}

.section-more-icon {
  transition: 0.2s;
}

.section-more .section-view-all:hover .section-more-icon {
  transform: translateX(5px);
}
