.hero__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(35rem, 40rem, 90vh);
  background: white;
  color: white;
  margin: 1rem 0;
  padding: 3rem 2rem;
  user-select: none;
  border-radius: 15px;
  box-shadow: var(--box-shadow-3d);
}

.hero__box__data {
  padding: 1rem 4rem 1rem 2rem;
  margin-right: 4rem;
}
.hero__box__data h1 {
  font-size: var(--fs-4xl);
  text-transform: capitalize;
  line-height: 1.4;
  text-shadow: 0px 0px 8px;
}

.hero__box__data p {
  margin-bottom: 4rem;
  font-size: var(--fs-l);
  text-transform: capitalize;
}

.hero__box__img-container {
  max-width: 30rem;
}

@media only screen and (max-width: 426px) {
  .hero__box {
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 7rem 2rem;
    margin: 1rem 0;
    gap: 2rem;
  }
  .hero__box__data {
    padding: 0;
    margin-right: 0;
  }

  .hero__box__data h1 {
    margin-bottom: 1rem;
    font-size: var(--fs-3xl);
  }

  .hero__box__data p {
    display: none;
  }
  .hero__box__img-container {
    max-width: 15rem;
  }
}
